.App {
  min-width: 520px;
}
.name-input {
  height: 50px;
  width: 100%;
  max-width: 800px;
  font-size: 20px;
  padding: 20px;
  font-family: Figtree, sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

input::placeholder {
  font-style: italic;
}

.name-input-form label {
  display: block;
  justify-self: start;
  font-weight: 800;
}

.guest-container {
  height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  width: 20px;
  transform: scale(1.5);
  margin: 10px;
  cursor: pointer;
}

input[type='radio'] {
  cursor: pointer;
}

.remove-icon {
  font-size: 20px;
}

.guest-container:hover .remove-button {
  background-color: rgb(239, 239, 239);
}

.remove-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.guest-container:hover .remove-button:hover svg {
  color: white;
}

.guest-container:hover .remove-button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.guest-container:hover {
  font-weight: 800;
  cursor: pointer;
  background-color: rgb(239, 239, 239);
}

.guest-container:hover:not(:first-child) {
  border-top: 1px solid rgb(47, 51, 73);
}

.guest-container:hover:not(:last-child) {
  border-bottom: 1px solid rgb(47, 51, 73);
}

.all-guests-container {
  width: 500px;
  margin-top: 20px;
  border: 1px solid rgb(47, 51, 73);
  box-shadow: -1px 9px 27px -14px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.all-guests-outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: rgb(47, 51, 73);
  margin-bottom: 20px;
}

.page-top {
  margin: 0 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  max-width: 1000px;
  gap: 20px;
}

.name-input-form {
  grid-column: 1;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-top-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter button {
  height: 35px;
  font-family: Figtree, sans-serif;
  font-weight: 700;
  color: white;
  border: 0;
}

.guest-edit-form {
  border: 1px solid black;
  width: 500px;
  height: 300px;
  position: absolute;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 0px 57px 15px rgba(0, 0, 0, 0.75);
}

.guest-edit-form label {
  display: block;
  justify-self: start;
  font-weight: 800;
}

.guest-edit-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: black;
  margin-bottom: 20px;
}

.filter label {
  cursor: pointer;
}

.remove-all-attending-guests-button {
  background-color: rgb(209, 21, 21);
}
.remove-all-attending-guests-button:hover {
  background-color: rgb(149, 50, 50);
  cursor: pointer;
}

.reset-filter-button {
  background-color: rgb(47, 51, 73);
}

.reset-filter-button:hover {
  background-color: black;
  cursor: pointer;
}
